@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(92, 118, 155, 0.292);
    border-radius: 100vh;
    /* border: 3px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    transition: ease-in-out;
    background: rgba(92, 118, 155, 0.427);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 91.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --greenTag: 155 54% 28%;
    --greenTag-dark: 155 55% 19%;
    --greenTag-light: 155 57% 55%;

    --yellowTag: 45 98% 25%;
    --yellowTag-dark: 45 91% 17%;
    --yellowTag-light: 47 97% 45%;

    --orangeTag: 30 70% 22%;
    --orangeTag-dark: 29 85% 32%;
    --orangeTag-light: 33 95% 61%;

    --redTag: 7 75% 39%;
    --redTag-dark: 6 63% 23%;
    --redTag-light: 7 91% 68%;

    --violetTag: 250 38% 28%;
    --violetTag-dark: 6 63% 23%;
    --violetTag-light: 250 75% 75%;

    --blueTag: 215 100% 40%;
    --blueTag-dark: 215 85% 23%;
    --blueTag-light: 215 100% 67%;

    --oceanicTag: 186 57% 29%;
    --oceanicTag-dark: 186 45% 23%;
    --oceanicTag-light: 186 56% 60%;

    --limeTag: 84 55% 27%;
    --limeTag-dark: 84 39% 20%;
    --limeTag-light: 84 53% 53%;

    --pinkTag: 323 42% 41%;
    --pinkTag-dark: 324 37% 23%;
    --pinkTag-light: 323 71% 68%;

    --grayTag: 208 13% 40%;
    --grayTag-dark: 210 13% 31%;
    --grayTag-light: 211 16% 61%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
